<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/Content/Admin/image/unnamed.png" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="/Content/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="/Content/Admin/dist/css/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--PagedList css-->
    <link href="/Content/PagedList.css" rel="stylesheet" />
    <!-- select2 -->
    <link href="/Content/Admin/assets/select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="/Content/Admin/assets/select2/select2.css" rel="stylesheet" />
    <link href="/Content/Admin/css/LayoutAdmin.css" rel="stylesheet" />


    <!--css datepicker-mask-->
    <link href="/Content/Admin/assets/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

    <!--popup-->
    <script src="/Scripts/jquery-ui.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <link href="/Content/popup-theme/jquery-ui.css" rel="stylesheet" />
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @{
        var account = Session["Account"] as Model.tb_Account;
    }
</head>
<body>
    @*@{ 
        var User = Request["username"];
    }*@
    <div id="wrapper">
        <!-- Navigation -->
        
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation" style="margin-top:0px;">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Trang chủ Admin</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <!-- /.navbar-header -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i>@account.username <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu drop-animate" style="height:75px;" >
                            <li>
                                @*<a href="#" onclick='modal.Render("/Account/ChangePassword/@User.ID", "Thay đổi mật khẩu")'><i class="fa fa-key"></i> Đổi mật khẩu</a>*@
                                <a href="#"><i class="fa fa-key"></i> Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a href="/Admin/Account/Logout"><i class="md fa fa-sign-out" aria-hidden="true">Đăng xuất</i></a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </nav>
            <div class="sidebar-nav navbar-collapse">

                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/Admin/Account"><i class="fa fa-list-ul" aria-hidden="true"></i> Tài khoản</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ol"></i> Câu hỏi<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/Admin/Question">Câu hỏi cha</a>
                            </li>
                            <li>
                                <a href="/Admin/SubQuestion">Câu hỏi con</a>
                            </li>
                            <li>
                                <a href="/Admin/Answer">Câu trả lời</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/Admin/Skill"><i class="fa fa-list-ul" aria-hidden="true"></i> Kỹ năng</a>
                    </li>
                    <li>
                        <a href="/Admin/Part"><i class="fa fa-list-ul" aria-hidden="true"></i> Part</a>
                    </li>
                    <li>
                        <a href="/Admin/Level"><i class="fa fa-list-ul" aria-hidden="true"></i> Level</a>
                    </li>
                    <li>
                        <a href="/Admin/Topic"><i class="fa fa-list-ul" aria-hidden="true"></i> Chủ đề</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-list-ol"></i>Quản lý đề thi<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="Admin/Quiz">Đề thi</a>
                            </li>
                            <li>
                                <a href="#">Chi tiết đề thi</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid" style="padding-top:10px;">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                        @*<h1 class="page-header">Blank</h1>*@
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Content/Admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/Admin/dist/js/sb-admin-2.js"></script>
    <!-- Select2 JavaScript -->
    <script src="/Content/Admin/assets/select2/select2.min.js"></script>

    <!-- script datepicker-mask-->
    <script src="/Content/Admin/assets/timepicker/bootstrap-datepicker.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.datepicker-fork/1.3.0/js/locales/bootstrap-datepicker.vi.js"></script>
    <script src="/Scripts/maskedinput.js"></script>

    <!-- script validate-->
    <script src="/Scripts/jquery.validate.min.js"></script>
    <!--script ckeditor,ckfinder-->
    <script src="/Content/Admin/assets/ckeditor/ckeditor.js"></script>
    <script src="/Content/Admin/assets/ckfinder/ckfinder.js"></script>
    @RenderSection("script",false)
</body>
</html>
